body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    max-width: 300px;
    margin: auto;
}

#display {
    height: 40px;
    font-size: 20px;
    text-align: right;
    padding: 4px;
    margin-bottom: 10px;
}

#displayConversion {
    height: 40px;
    font-size: 20px;
    text-align: right;
    padding: 4px;
    margin-bottom: 10px;
}

#modeMessage {
    color: #f59000;
    margin-bottom: 10px;
}

button {
    width: 25%;
    height: 60px;
    font-size: 16px;
    margin: 4px;
}

button.operator {
    background-color: #f59000;
    color: white;
}

button.operator:hover{
    background-color: #db8002;
}

button .dropdown {
    width: 100%;
}

.operation{
    background-color: #f59000;
}
.operation:hover{
    background-color: #db8002;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-menu-scrollable {
    max-height: 200px; /* Set the maximum height for the dropdown menu */
    overflow-y: auto;  /* Enable vertical scrolling */
}